<div class="navbar">
    <div class='logo'>
        <a href="/blog"> Fairy's Paradise</a>
    </div>
    {{!-- use icon for edit/single/add pages --}}
    <span class="material-icons">
        <a href="/blog">home</a>
    </span>
</div>
<div class='border-bottom'></div>

<div class="add-blog-container">


    <div class="blog-create-item">
        <h1 class="blog-create">Create New Blog</h1>
    </div>

    <form action="/blog" method="POST">
        <div class="add-blog-wrapper">

            <div class="add-blog-item">
                <label class="add-blog-date">Date</label>
                <input class="add-blog-date-input" type="datetime-local" name="date" />
            </div>

            <div class="add-blog-item">
                <label class="add-blog-title">Author</label>
                <input class="add-blog-input" type="text" name="author" />
            </div>

            <div class="add-blog-item">
                <label class="add-blog-post-title">Title</label>
                <input class="add-blog-input" type="text" name="title" />
                <br>
                <br>
            </div>

            <div class="add-blog-item">
                <label class="label-items add-blog-title">Image <br> URL</label>
                <input class="add-blog-input" type="text" name="image" />
            </div>

            <div class="add-blog-item">
                <label class="add-blog-post">Post</label>
                <textarea class="add-blog-text-area" type="text" name="post" rows="20" cols="80" /></textarea>
            </div>

            <div class="post-item">
                <input class="blog-post-button" type="submit" value="Post" />
            </div>
        </div>
    </form>

</div>

{{!-- HOME BUTTON WORKS --}}
{{!-- WORKS --}}