<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fairy's Wand</title>

  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Maven+Pro&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Frijole&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=La+Belle+Aurore|Sacramento|Yellowtail&display=swap"
    rel="stylesheet">
  <link rel="shortcut icon" href="/wand-favicon.ico"> 

  <script defer src="/script.js"></script>
</head>

<body>
  {{{body}}}
</body>

</html>