<div class="navbar">
    <div class='logo'>
        <a href="/vendor"> Fairy's Paradise</a>
    </div>
    {{!-- use icon for edit/single/add pages --}}
    <span class="material-icons">
        <a href="/vendor">home</a>
    </span>
</div>
<div class='border-bottom'></div>

<div class='vendor-header'>Add New Vendor</div>

<div class="form-container">
    <form action="/vendor" method="POST">
        <div class="form-wrapper">
            <label>Vendor</label>
            <input type="text" name="name" />

            <label>Are you local?</label>
            <input type="text" name="local" />

            <label>What kind of vendor?</label>
            <input type="checkbox" name="category" value='Photograper'>
            <label for="category"> Photographer</label><br>
            <input type="checkbox" name="category" value='DJ'>
            <label for="category">DJ</label><br>
            <input type="checkbox" name="category" value='Rental'>
            <label for="rental">Rental</label><br>
            <input type="checkbox" name="category" value='Videographer'>
            <label for="videographer">Videographer</label><br>
            <input type="checkbox" name="category" value='Band'>
            <label for="band">Band</label><br>
            <input type="checkbox" name="category" value='Singer'>
            <label for="singer">Singer</label><br>
            <input type="checkbox" name="category" value='Florist'>
            <label for="florist">Florist</label><br>
            <input type="checkbox" name="category" value='Make-Up Artist'>
            <label for="make-up artist">Make-Up Artist</label><br>
            <input type="checkbox" name="category" value='Hair Stylist'>
            <label for="hair stylist">Hair Stylist</label><br>
            <input type="checkbox" name="category" value='Jeweler'>
            <label for="Jeweler">Jeweler</label><br>


            <label>Business Email</label>
            <input type="email" name="email" placeholder="john@email.com" />

            <label>Business Number</label>
            <input type="text" name="phoneNumber" placeholder="222-222-222" />

            <label>Website</label>
            <input type="text" name="website" />

            <label>Tell us about your business</label>
            <textarea type="text" cols="30" rows="10" name="details"></textarea>

        </div>
        <input type="submit" value="Create" />
    </form>
</div>

{{!-- WORKS --}}