<h1>Add New Vendor</h1>

<a href="/vendor">
    <button>Home</button>
</a>

<form action="/vendor" method="POST">
    <label>Vendor</label>
    <input type="text" name="name" />

    <label>Are you local?</label>
    <input type="text" name="local" />

    <label>What kind of vendor?</label>
    <input type="text" name="category" />

    <label>Business Email</label>
    <input type="text" name="email" />

    <label>Business Number</label>
    <input type="text" name="phoneNumber" />

    <label>Website</label>
    <input type="text" name="website" />

    <label>Tell us about your business</label>
    <textarea  type="text" cols="30" rows="10" name="details"></textarea>


    <input type="submit" value="Create" />
</form>

{{!-- WORKS --}}