{{!-- <div class="navbar">
    <div class='logo-container'>
        <a class='logo' href="/review"> Fairy's Wand</a>
    </div>
    {{!-- use icon for edit/single/add pages --}}
    <span class="material-icons">
        <a class='icons' href="/review">home</a>
    </span>
</div>

<h1>Add New Review</h1>

<a href="/review">
    <button>Home</button>
</a>

<form action="/review" method="POST">

    <label>Date</label>
    <input type="datetime-local" name="date" />

    <label>Comment</label>
    <textarea type="text" name="comment" rows="5" cols="50" /></textarea>


    <input type="submit" value="Post" />
</form>

{{!-- HOME BUTTON WORKS --}}
WORKS --}}