<h1>Add New Review</h1>

<a href="/review">
    <button>Home</button>
</a>

<form action="/review" method="POST">
    <label>Date</label>
    <input type="datetime-local" name="date" />

    <label>Comment</label>
    <textarea type="text" name="comment" rows="5" cols="50"/></textarea>


    <input type="submit" value="Post" />
</form>

{{!-- HOME BUTTON WORKS --}}
{{!-- WORKS --}}