<div class="navbar">
    <div class='logo-container'>
        <a class='logo' href="/review"> Fairy's Wand</a>
    </div>
    {{!-- use icon for edit/single/add pages --}}
    <span class="material-icons">
        <a class='icons' href="/review">home</a>
    </span>
</div>

<div class="comment-edit-container">

    <h1>Edit Review</h1>


    <form action="/review/{{singleReview._id}}?_method=PUT" method="POST">
        <div class="comment-edit-wrapper">
            <div class="comment-edit-items">
                <label class="date-item">Date</label>
                <input class="date-item-input" type="datetime" name="date" value="{{singleReview.date}}" />
            </div>

            <div class="comment-edit-items">
                <label class="edit-comment-item">Comment</label>
                <textarea class="edit-comment-item-input" type="text" name="comment" rows="5" cols="50"
                    value="{{singleReview.comment}}">{{singleReview.comment}}</textarea>
            </div>

            <input class='save-button' type="submit" value="Save" />
        </div>
    </form>

</div>

{{!-- COMPLETED STYLING --}}
{{!-- HOME BUTTON WORKS --}}
{{!-- EDIT WORKS --}}