<h1>Edit Review</h1>

<a href="/review">
    <button>Home</button>
</a>

<form action="/review/{{singleReview._id}}?_method=PUT" method="POST">


    <label>Date</label>
    <input type="datetime" name="date" value="{{singleReview.date}}" />

    <label>Comment</label>
    <textarea type="text" name="comment" rows="5" cols="50" value="{{singleReview.comment}}">{{singleReview.comment}}</textarea>

    
    <input type="submit" value="Save" />

</form>

{{!-- HOME BUTTON WORKS --}}
{{!-- EDIT WORKS --}}