<div class="navbar">
    <div class='logo-container'>
        <a class='logo' href="/review"> Fairy's Wand</a>
    </div>
    {{!-- use icon for edit/single/add pages --}}
    <span class="material-icons">
        <a class='icons' href="/review">home</a>
    </span>
</div>

<div class="comment-container">
    <div class='comment-header'>Blog Post Comments </div>
    <div></div>
    
    <div class="comment-wrapper">
        {{#each allReviews}}

        <div class="comment-items-container">
            <div class="comment-items-wrapper">

                <div class="comment-item">
                    
                    <div class="comment-paragraph">{{comment}}</div>
                </div>
                <a class="comment-button-link" href="/review/{{_id}}">
                    <button>See Comment</button>
                </a>

                <div class="comment-date-wrapper">
                    <div>{{date}}</div>
                    <br>
                </div>

            </div>
        </div>

        {{/each}}
    </div>
</div>



<footer>
    <div class='footer-container'>
        <div class="footer-item">Created by: <br> Annie T. Bellefleur</div>
        <div class="social-container">
            <a href="https://www.linkedin.com/in/annie-t-bellefleur-04a696a7/">
                <img src="linkedIn.png" alt="">
            </a>
            <a href="https://twitter.com/AfiaTheLegend">
                <img src="twitter.png" alt="">
            </a>
            <a href="https://www.instagram.com/browneyed_royalty/">
                <img src="instagram.png" alt="">
            </a>
        </div>
    </div>
</footer> 

{{!-- SEE REVIEW BUTTON WORKS --}}
{{!-- ALL REVIEWS TEMPLATE WORKS --}}
{{!--- COMPLETED STYLING --}}