<div class="navbar">
    <div class='logo-container'>
        <a class='logo' href="/review"> Fairy's Wand</a>
    </div>
    {{!-- use icon for edit/single/add pages --}}
    <span class="material-icons">
        <a class='icons' href="/review">home</a>
    </span>
</div>

<div class="review-container">
    <a href="/review/{{singleReview._id}}/edit">
        <div class='edit-delete-button'>
            <button class='button'>Edit Venue</button>
        </div>
    </a>

    <form action="/review/{{singleReview._id}}?_method=DELETE" method="POST">
        <div class='edit-delete-button'>
            <input class="button" type="submit" value="Delete Review" />
        </div>
    </form>
    <div class="review-title">
        <h1>Comment</h1>
    </div>

    <div class="review-item-wrapper">
        <div class="review-item">
            <div class="review-submit-item">Submitted On:</div>
            <div>{{singleReview.date}}</div>
        </div>

        <div class="review-item">
            <div>{{singleReview.comment}}</div>
        </div>

    </div>

</div>

{{!-- DELETE BUTTON WORKS --}}
{{!-- EDIT BUTTON WORKS --}}
{{!-- HOME BUTTON WORKS --}}
{{!-- COMPLETED STYLING --}}
{{!-- WORKS --}}